.filter {
    max-width: var(--ukuran-container);
    margin: auto;
    padding: 2rem 0;
}

.filter-container{

}

.input-filter{
    display: flex;
    column-gap: 10px;
}

.input-filter select {
 background-color: var(--warna-putih);
 border: none;
 border: 2px solid white ;
 width: 100%;
 border-radius: 7px;
 font-size: var(--ukuran-body);
 padding: 10px 15px;
 box-sizing: border-box;   
}

.input-filter button {
    border: none;
    background-color: var(--warna-ungu);
    color: var(--warna-putih);
    font-size: var(--ukuran-body);
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
}