nav{
    background-color: #000;
    padding: 10px;
    box-sizing: border-box;
}


.navbar-container{
    display: flex;
    margin: auto;
    max-width: 1200px   ;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.navbar-logo h1 {
    font-size: var(--ukuran-heading);
    color: var(--warna-putih);
}

.navbar-link a {
    font-size: var(--ukuran-body);
    color: var(--warna-putih);
}

.navbar-link {
    display: flex;
    column-gap: 120px;
}

@media(max-width)