.popular {
    padding: 4rem 0;
}

.popular-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    column-gap: 20px;
}

.card {

}

.card img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}